.latest-product__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.latest-product__item {
  column-span: 1;
  min-width: 260px;
  padding: 10px;
  text-align: center;
}
.latest-product__item img {
  width: 100%;
}
.latest-product__item__name {
  font-size: 20px;
  text-transform: uppercase;
}
.latest-product__item__price {
  color: var(--c-red);
  font-weight: 700;
}
.latest-product__item__action {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
}
.latest-product__item__action button {
  transform: translateY(40px);
  opacity: 0.6;
  transition: 200ms linear;
}
